<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matpl_Index</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div class="container">
    <div class="header">
        <div class="login_signup_text">
            {{#sessionName}}
                <div class="login_info">
                    {{#profileImage}}
                        <img src="{{profileImage}}" alt="프로필 이미지" class="profile_img">
                    {{/profileImage}}

                    {{^profileImage}}
                        <img src="/image/profile_default.png" alt="기본 프로필 이미지" class="profile_img">
                    {{/profileImage}}
                    <span>{{sessionName}} 님</span>
                    <button data-modal-target=".modal_user_setting">⚙️</button>
                </div>
            {{/sessionName}}

            <!-- 로그인 X -->
            {{^sessionName}}
                <div class="login_signup_text">
                    <button data-modal-target=".modal_signup_login">회원가입 / 로그인</button>
                </div>
            {{/sessionName}}
        </div>
        <hr>
        <div class="header_object">
            <div class="main_logo">
                <p>MatPl<sub>ace</sub></p>
            </div>
            <div class="search_place">
                <input type="text" id="searchplace" placeholder="검색어를 입력하세요.">
            </div>
            <div class="search_button">
                <button onclick="window.location.href='/detail/detail_page.html'">검색하기</button>
            </div>
        </div>
    </div>


    <div class="banner_image"><img src="/image/main_banner.png" alt="main_banner" id="banner_img"></div>


    <hr>

    <div class="showed_restaurant" id="_tag">
        <div class="section_info">
            <p>맛집인증</p>
            <p>전체보기</p>
        </div>
        <div class="viewed_page">
            <button class="page_button">전</button>
            <div class="viewed_restaurant">
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">restaurant_name</div>
                    <div class="restaurant_image" id="restaureant_image">restaurant_image</div>
                    <div class="restaurant_info_tag">
                        <p>#tag_name</p>
                        <p>, categories</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">restaurant_name</div>
                    <div class="restaurant_image" id="restaureant_image">restaurant_image</div>
                    <div class="restaurant_info_tag">
                        <p>#tag_name</p>
                        <p>, categories</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">restaurant_name</div>
                    <div class="restaurant_image" id="restaureant_image">restaurant_image</div>
                    <div class="restaurant_info_tag">
                        <p>#tag_name</p>
                        <p>, categories</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">restaurant_name</div>
                    <div class="restaurant_image" id="restaureant_image">restaurant_image</div>
                    <div class="restaurant_info_tag">
                        <p>#tag_name</p>
                        <p>, categories</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">묵호회집</div>
                    <div class="restaurant_image" id="restaureant_image"><img src="/image/mookho.png" alt=""></div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>, 성시경의 먹을텐데</p>
                    </div>
                </section>
            </div>
            <button class="page_button">
                <p>후</p>
            </button>
        </div>
    </div>


    <hr>

    <div class="showed_restaurant" id="_nearby">
        <div class="section_info">
            <p>거리순</p>
            <p>전체보기</p>
        </div>
        <div class="viewed_page">
            <button class="page_button">전</button>
            <div class="viewed_restaurant">
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">1호집</div>
                    <div class="restaurant_image" id="restaureant_image">1호집 이미지</div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>성시경의 먹을텐데</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">1호집</div>
                    <div class="restaurant_image" id="restaureant_image">1호집 이미지</div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>성시경의 먹을텐데</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">1호집</div>
                    <div class="restaurant_image" id="restaureant_image">1호집 이미지</div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>성시경의 먹을텐데</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">1호집</div>
                    <div class="restaurant_image" id="restaureant_image">1호집 이미지</div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>성시경의 먹을텐데</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">1호집</div>
                    <div class="restaurant_image" id="restaureant_image">1호집 이미지</div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>성시경의 먹을텐데</p>
                    </div>
                </section>
            </div>
            <button class="page_button">
                <p>후</p>
            </button>
        </div>
    </div>


    <hr>

    <div class="showed_restaurant" id="_review">
        <div class="section_info">
            <p>리뷰기반</p>
            <p>전체보기</p>
        </div>
        <div class="viewed_page">
            <button class="page_button">전</button>
            <div class="viewed_restaurant">
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">1호집</div>
                    <div class="restaurant_image" id="restaureant_image">1호집 이미지</div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>성시경의 먹을텐데</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">1호집</div>
                    <div class="restaurant_image" id="restaureant_image">1호집 이미지</div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>성시경의 먹을텐데</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">1호집</div>
                    <div class="restaurant_image" id="restaureant_image">1호집 이미지</div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>성시경의 먹을텐데</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">1호집</div>
                    <div class="restaurant_image" id="restaureant_image">1호집 이미지</div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>성시경의 먹을텐데</p>
                    </div>
                </section>
                <section class="tag_page">
                    <div class="restaurant_name" id="restaurant_name">1호집</div>
                    <div class="restaurant_image" id="restaureant_image">1호집 이미지</div>
                    <div class="restaurant_info_tag">
                        <p>#초밥</p>
                        <p>성시경의 먹을텐데</p>
                    </div>
                </section>
            </div>
            <button class="page_button">
                <p>후</p>
            </button>
        </div>
    </div>

    <hr>

    <div class="footer"></div>

    <!-- 모달 창을 위한 오버레이 -->
    <div class="modal_overlay"></div>

    <!-- 회원가입 및 로그인 모달 -->
    <div class="modal_signup_login">
        <div class="login_signup_container">
            <div class="signup_container">
                <h2>회원가입</h2>
                <form action="/users/signup" method="post">
                    <input type="text" name="email" placeholder="이메일" required>
                    <input type="text" name="nickname" placeholder="닉네임" required>
                    <input type="text" name="password" placeholder="비밀번호" required>
                    <input type="text" name="passwordCheck" placeholder="비밀번호 확인" required>
                    <div class="signup_btn">
                        <button type="submit" class="modal_btn">회원가입</button>
                    </div>
                </form>
            </div>

            <div class="login_container">
                <h2>로그인</h2>
                <form action="/log/in" method="post">
                    <input type="text" name="email" placeholder="이메일">
                    <input type="text" name="password" placeholder="비밀번호">
                    <div class="login_btn">
                        <button type="submit" class="modal_btn">로그인</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="modal_user_setting">
        <div class="user_setting_container">
        <!--            {{#profileImage}}-->
            <!--                <img src="{{profileImage}}" alt="프로필 이미지" class="profile_img">-->
                <!--            {{/profileImage}}-->
            <!---->
                <!--            {{^profileImage}}-->
            <!--                <img src="/image/profile_default.png" alt="기본 프로필 이미지" class="profile_img">-->
                <!--            {{/profileImage}}-->
            <div class="profile_img">
                <p>IMG</p>
            </div>
            {{#sessionName}}
                <h4 id="user_nickname">반갑습니다. {{sessionName}}님!</h4>
            {{/sessionName}}
            <hr>
            <h4>마이 페이지</h4>
            <h4>리뷰 관리</h4>
            <h4>개인 정보 변경</h4>
            <h4>즐겨찾기</h4>
            <h4>방문 기록</h4>
            <h4>사업자 등록하기</h4>
            <hr>
            <form action="/log/out" method="post">
            <button class="logout_btn">로그아웃</button>
            </form>
        </div>
    </div>

    <div class="error_modalOverlay"></div>

    <div class="error_modal">
        {{#errorMessage}}
            <div class="error_message">{{errorMessage}}</div>
        {{/errorMessage}}
    </div>

</div>
<script src="/js/index.js"></script>
{{#errorMessage}}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
          const modalOverlay = document.querySelector(".modal_overlay");
          const modal = document.querySelector(".error_modal");

          if (modal && modalOverlay) {
            modal.style.display = "block";
            modalOverlay.style.display = "block";
          }
        });
    </script>
{{/errorMessage}}
</body>

</html>